.card {
	margin: 20px;
}

.card-text {
	height: 70px;
}

.list-group-item-mysuper-puper {
	padding-bottom: 100px;
}

.space {
	min-height: 534px;
}

.a {
	margin: 20px;
}

.hello {
	min-height: 200px;
}